#container {
  width: 100%;

  font-family: arial, sans-serif;
}

#main-row-1 {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

#subrow-1-1 {
  width: 40%;
  margin-right: 1%;
}
#subrow-1-1 h1 {
  font-size: 100px;
  text-align: justify;
  line-height: 110px;
  margin: 0px 10%;
  font-weight: 600;
}
#subrow-1-1 p {
  text-align: left;
  margin: 20px 20px 0px 50px;
  font-size: 16px;
  line-height: 25px;
}
#subrow-1-2 {
  width: 55%;
  font-weight: 400;
}

/* animation style */

#main{
  width: 80%;
  height: 50vh;
  margin: auto;
  background-color: #0037ff;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
#first{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
#second{    
  display: grid;
  grid-template-rows: 30% 40% 20%;
  padding: 20px;
} 
#third{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 40px;
}
#outer{
  width: 146px; 
  height: 146px; 
  display: block; 
  transform: scale(1, 1); 
  transition-property: none;
  animation: rotation 10s infinite linear;
}
#inner{
  width: 146px; 
  height: 146px; 
  display: block; 
  transform: scale(1, 1); 
  transition-property: none;
  animation: rotation 5s infinite reverse linear;
  position: absolute;
}
#upper{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}
#middle{
  display: grid;
  grid-template-columns: 45% 10% 45%;
}
#middle>div{
  text-align: right;
}
#middle>div>h1{
  color: #ffce00;
  font-size: 40px;
  margin-top: 20px;
}
#middle>div>p{
  color: white;
  font-size: 20px;
  margin-top: -20px;
}
#middle>h1:nth-child(3){
  color: white;
}
#middle>hr{
  height: 60%;
  margin-top: 20px;
}
#lower{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: -10px;
}
#lower>div{
  display: flex;
  justify-content: end;
  align-items: center;
}
#lower>div>button{
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 50px;
  border: none;
  background-color: #0090ff;
  color: white;
  cursor: pointer;
}
#lower>div>button:hover{
  background-color: #00aeff;
}
#lower>p{
  font-size: 18px;
  color: white;
  cursor: pointer;
}
#lower>p>span:hover{
  padding-left: 15px;
}



@keyframes rotation {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(359deg);
}
}

/* customer style */
#customer {
  width: 85%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  margin-bottom: 10%;
}
#logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 20px;
  text-align: center;
  margin-top: 4%;
}
#logo > div > img {
  width: 40%;
}
#customer > h1 {
  text-align: start;
  font-size: 35px;
}
#customer > button {
  margin: 2% auto;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 50px;
  color: #083cff;
  background-color: #ccd7ff;
  cursor: pointer;
}
#customer > button:hover {
  background-color: #0037ff;
  color: white;
}

/* digital div style ---->*/

#digital-div {
  display: flex;
  width: 100%;
  margin: auto;
  margin-bottom: 0;
}
#digital-black {
  width: 32%;
  background-color: rgb(12, 12, 49);
  overflow-x: visible;
  color: white;
}
#digital-blue {
  width: 68%;
  background-color: blue;
}

#video-div {
  width: fit-content;
  position: relative;
  z-index: 5;
  margin-left: 20%;
  margin-bottom: 20%;
}
#text-div {
  color: white;
  margin-left: 30%;
  margin-top: 9%;
  display: block;
  width: 65%;
}
#text-div h3 {
  font-size: 39px;
  margin: 16px;
}
#text-div p {
  font-size: 18px;
  margin: 0px 16px;
}
#text-div > :nth-child(1) {
  font-size: 25px;
}
#text-div a {
  color: white;
  margin: 20px 16px;
  display: flex;
  width: 100%;
  font-size: 16px;
  text-decoration: none;
}

#text-div a:hover {
  color: rgb(7, 7, 27);
}

#text-div span > svg {
  width: 7%;
  margin-left: 9px;
  fill: white;
}

/* content */

#content {
  background-color: #861dff;
  display: flex;
  width: 100%;
  color: white;
}
.content-row {
  width: 32%;
  text-align: justify;
}

.content-row a {
  font-size: 25px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  display: flex;
  gap: 20px;
  margin: 40px 0 0px 12%;
}

.content-row a:hover {
  color: rgb(4, 4, 48);
  gap: 30px;
}
.content-row svg {
  width: 9%;
  fill: white;
}

.content-row p {
  font-size: 18px;
  font-weight: 400;
  margin: 14px 1% 0px 12%;
}

.content-button-div {
  display: flex;
  margin: 18px 0 0 12%;
}

.content-button-div a {
  margin: 0px 10px 10px 0;
  font-size: 16px;
  border: 1px solid white;
  padding: 5px 18px;
  border-radius: 100px;
}

.content-button-div a:hover {
  background-color: white;
}

/* explore */

#explore-div {
  width: 91%;
  margin-left: 4%;
  display: flex;
  gap: 15px;
}
#explore-heading {
  font-size: 39px;
  width: 92%;
  margin: 6% auto;
}
.explore-row {
  width: 32.5%;
}

.explore-row h4 {
  font-size: 25px;
}

.explore-row p {
  font-size: 18px;
}
.explore-row > div {
  display: flex;
  width: 50%;
  color: blue;
}
.content-row > span {
  display: flex;
  flex-direction: row;
}

.explore-row svg {
  width: 10%;
  margin-left: 20px;
  fill: blue;
}

/* advertisement */

#addvertise-div {
  width: 91%;
  margin: 10%;
  margin-left: 4%;
  display: flex;
}

.addvertise-row {
  width: 33%;
}
.addvertise-row a > div {
  width: 70%;
  margin: 10% auto;
}

.addvertise-row a {
  text-decoration: none;
}
.addvertise-row span {
  display: flex;
  justify-content: end;
  margin: 15%;
}

.addvertise-row span:hover {
  margin-right: 2%;
}

.div-stats h1 {
  font-size: 49px;
  line-height: 56px;
  color: #ffcc00;
  margin: 0px;
}

.div-stats p {
  color: white;
}

#addvertise-div > :first-child {
  background-color: black;
}
#addvertise-div > :nth-child(2) {
  background-color: #9356f6;
}

#addvertise-div > :nth-child(3) {
  background-color: #0037ff;
}
.div-stats-white {
  fill: white;
}

/* Getstared */

#getstarted {
  width: 90%;
  margin: 10%;
  margin-left: 4%;
  display: flex;
}

#getstarted-blue {
  background-color: blue;
  width: 4%;
}
#getstarted-black {
  width: 48%;
  color: white;
  background-color: black;
}
#getstarted-black div {
  width: 80%;
  margin: auto;
}
#getstarted-green {
  width: 48%;
  background-color: #3be081;
}

#getstarted-green div {
  width: 90%;
  margin: auto;
}

#getstarted-green form {
  display: grid;
  gap: 20px;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
}

#email {
  width: 170%;
}

#intrest-div {
  margin: 0 0 15px 0;
  position: relative;
  box-sizing: border-box;
}

#firstname,
#lastname,
#email,
#company,
#job-title,
#phone,
form > select,
form textarea {
  background-color: transparent !important;
  border: none;
  border-bottom: 2px solid;
  color: black;
  padding: 10px;
}
form > input::placeholder {
  color: black;
}
form textarea {
  border: 1px solid black;
}

#yes,
#no {
  margin-right: 10px;
  display: flex;
  justify-self: start;
}
#submit {
  background-color: blue;
  border: 1px solid black;
  border-radius: 22px;
  padding: 11px 32px 11px 32px;
  font-size: 22px;
  width: 50%;
  color: white;
  text-align: center;
  margin-bottom: 33%;
}
