*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Intro */

#intro{
    display: grid;
    grid-template-columns: 6% 45% 49%;
    margin-top: 30px;
}
#intro>div:nth-child(1){
    background-color: #080736;
}
#intro>div:nth-child(3){
    background-color: #f0f2f3;
    padding-left: 10%;
}
#intro>div:nth-child(3)>h1{
    font-size: 50px;
    margin-top: 25%;
}
#intro>div:nth-child(3)>p{
    font-size: 20px;
    width: 90%;
    margin-top: -25px;
}
#intro>div>img{
    width: 100%;
    height: 100%;
}

/* Options */

#option{
    width: 85%;
    margin: 5% auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    cursor: pointer;
}
#option>div>svg{
    margin: 20px;
    padding-left: 75%;
}
#option>div>svg:hover{
    padding-left: 80%;
}
.desc{
    height: 50%;
    padding: 5% 10%;
}
.desc>p{
    margin-top: -10px;
    font-size: 17px;
}
#option>div:nth-child(1){
    background-color: #ff8110;
}
#option>div:nth-child(2){
    background-color: #861dff;
    color: white;
}
#option>div:nth-child(3){
    background-color: #445669;
    color: white;
}
#option>div:nth-child(4){
    background-color: #00ccff;
}
#option>div:nth-child(5){
    background-color: #0037ff;
    color: white;
}
#option>div:nth-child(6){
    background-color: #ffcc00;
}
#option>div:nth-child(7){
    background-color: #445669;
    color: white;
}
#option>div:nth-child(8){
    background-color: #861dff;
    color: white;
}
#option>div:nth-child(9){
    background-color: #ff8110;
}

/* Trusted customer */

#customer{
    width: 85%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
}
#logo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px 20px;
    text-align: center;
    margin-top: 4%;
}
#logo>div>img{
    width: 40%;
}
#customer>h1{
    text-align: start;
    font-size: 40px;
}
#customer>button{
    margin: 2% auto;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 50px;
    color: #083cff;
    background-color: #ccd7ff;
    cursor: pointer;
}
#customer>button:hover{
    background-color: #0037ff;
    color: white;
}

/* Features */

.features{
    width: 85%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.image>img{
    width: 100%;
    border-radius: 10px;
}
.detail{
    height: auto;
    padding-left: 10%;
}
.detail>h1{
    font-size: 40px;
    margin-top: 25%;
}
.detail>p{
    font-size: 18px;
    margin-top: -10px;
}
.detail>button{
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    color: white;
    background-color: #0037ff;
    cursor: pointer;
}
.detail>button:hover{
    background-color: #022b9c;
}